*{
    margin: 0;
    padding:0;
}
body{
    background-color:#d0ecdd;
}
nav ul{
    display: flex;
   
    align-items:center;
    list-style-type: none;
    height: 8vh;
    background-color:#59CE8F;
    color: #1f2833;
    font-weight: bolder;
    font-size: 1.3rem;
    
   
}
nav {
   font-family: 'Ubuntu',sans-sarif;
}
nav ul li{
    padding: 0 13px;
}
.brand img{
    width: 95px;
    padding: 0 8px;
    
}
.brand{
    display:flex;
    align-items:center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh 0;



}
h1{
    font-weight: bolder;
}
.form-control{
    margin:3vh 0;
    border-radius: 17px;
    
}
.form-select{
    margin:3vh 0;
    border-radius: 17px;
    
}
.btn{
    margin-left: 35vw;
    width: 150px;
    font-weight: bolder;
    font-size: large;
   
    border-radius: 100px;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    
}
.container h2{
    margin: 3vh;
    font-weight: bolder;
}
.about{
   
    align-items: center;
    font-weight: bolder;
    justify-content: center;
    position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
  
    border-radius: 10px;
    width:80vw;
    /* margin-left:15vw; */
    
    border-width:5px;
border-style:solid;
border-color:#59CE8F;
}
.about ul li{
    margin:3vh;
}




.footer {
    background-color:#59CE8F;
    
    padding: 10px;
    text-align: center;
  
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
   
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons li a {
    color: #333;
    font-size: 20px;
    text-decoration: none;
  }
  
  .social-icons li a:hover {
    color: #666;
  }
  
  p {
    color: #666;
    font-size: 14px;
    margin: 0;
  }